*{
    font-family: 'Poppins','Montserrat', sans-serif;
}

body{
    background: #555 !important;
    padding-bottom:40px;
}

h2,h3{
    color:#eee !important;
    line-height: 2em;
    margin-bottom:20px;
}

p{
    color:#eee;  
}

.card-text{
    color:#555 !important;
}
.second{
    padding-top:30px;
    margin-bottom:70px !important;
}

img{
    border-radius: 20px !important;
}