*{
    font-family: 'Poppins','Montserrat', sans-serif;
}

body{
    background: #555 !important;
    min-height:500px;
}

h2,h3{
    color:#eee !important;
    line-height: 2em;
    margin-bottom:20px;
}

p{
    color:#eee;  
}

.card-text{
    color:#555 !important;
}
.second{
    padding-top:30px;
    margin-bottom:70px !important;
}

img{
    border-radius: 20px !important;
}


footer{
    background-color: #eee;
    color:#555;
    padding:10px;
    width: 100%;
    margin-top:12.2em;
    font-size:14px;
    text-align:center;
}


#eclaim{
    padding-top:50px !important;
}