*{
    font-family: 'Montserrat','Poppins', sans-serif;
    padding:0px;
    margin:0px;
}

body{
    background: rgb(6, 44, 66) !important;
    position: relative;
    min-height: 100vh;
}

h1{
    font-weight:200;
}
h2,h3{
    color:#eee !important;
    line-height: 2em;
    margin-top:10px;
}

p{
    color:#eee;  
}
.jumbotron{
    background:rgba(245, 245, 245,1) !important;
}
.card-text{
    color:#555 !important;
}
.second{
    margin-top:5vh;
    background: #eee;
    color:#555 !important;
    width:211px;
}

img{
    border-radius: 20px !important;
}


footer{
    background-color: #fff;
    color:#555;
    width: 100%;
    font-size:15px;
    text-align:center;
    position:absolute;
    bottom:0px;
    height: 3rem;
}


form{
    padding-top:10vh;
}

#last{
    padding-bottom:2rem;
}
input{
    outline:none !important;
}

#titletohide{
    display:none !important;
    
}

#mainheading{
    font-weight:bolder;
}

nav{
    box-shadow: 1px 0px 20px 0px rgba(63, 63, 63, 0.102);
}